
<h1 style="text-align: center;">Gaming Center</h1>

<h2>Usuario:</h2>

<div>
  {{user.name}}
  <br>
  {{user.userRole}}
  <br>
  <a href="/"><button>Ver mas</button></a>
  <br>
  <a href="/api/sessions/logout"><button>cerrar cuenta</button></a>
  <br>
  <a href="/products"><button>ver productos</button></a>
</div>

<h2 style="text-align: center;">Gracias por tu compra!!</h2>

<p>hemos enviado un correo a tu cuenta con los datos del ticket, esperamos que disfrutes tus compras!!!</p>