<form method="post" action="http://localhost:8080/api/sessions/restore-pass/{{token}}">
  <label for="new-password">Enter your new password</label>
  <input
    type="password"
    name="newPassword"
    placeholder="Your new pass"
    id="new-pass"
    required
  />
  <button type="submit">Send</button>
</form>